    /* static/css/styleLogin.css */

    body {
        background-color: #AAB396;
        font-family: 'Arial', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .login-container {
        max-width: 400px;
        width: 100%;
        padding: 30px;
        background-color: #FFF8E8;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .login-container h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #000000;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        border-radius: 5px;
        padding: 15px;
        font-size: 16px;
    }

    .btn-primary {
        width: 100%;
        padding: 12px;
        border-radius: 5px;
        font-size: 16px;
        background-color: #b4775b;
    }

    .btn-primary:hover {
        background-color: #FFF8E8;
        border: none;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        background-color: #836455;
        color: white;
    }

    .footer a {
        color: #ffffff;
        text-decoration: none;
    }

    .register-link {
        text-align: center;
        margin-top: 15px;
    }

    .register-link a {
        color: #007bff;
        text-decoration: none;
    }

    .register-link a:hover {
        text-decoration: underline;
    }
