<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rincón Temerario Del Café</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 5px 0;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/imagenes/logosinfondo.png" alt="RTC" class="my-2" style="max-width: 150px; height: auto;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link active" href="index1.html" style="color: black; font-size: 18px;">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="pedidos.html" style="color: black; font-size: 18px;">Pedidos</a></li>
              <li class="nav-item"><a class="nav-link" href="ventas.html" style="color: black; font-size: 18px;">Productos</a></li>
              <li class="nav-item"><a class="nav-link" href="productos.html" style="color: black; font-size: 18px;">Ventas</a></li>
            </ul>
          </div>
        </div>
    </nav>
    
    

    <!-- Footer Section -->
    <footer >
        <p>&copy; 2024 Rincón Temerario del Café. Todos los derechos reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
