{% extends "index.html" %}

{% block title %}
    Iniciar Sesión
{% endblock %}

{% block main %}
<link href="{{ url_for('static', filename='styleLogin.css') }}" rel="stylesheet">
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="userOrEmail" class="form-label">Usuario o Correo Electrónico</label>
            <input type="text" class="form-control" id="userOrEmail" placeholder="Ingrese su usuario o correo electrónico" name = "email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
    <div class="register-link">
        <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
    </div>
</div>
<script></script>
</script>
{% endblock %}
