<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rincón Temerario Del Café</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 5px 0;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/static/logosinfondo.png" alt="RTC" class="my-2" style="max-width: 150px; height: auto;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link active" href="index.html" style="color: black; font-size: 18px;">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="about.html" style="color: black; font-size: 18px;">Nosotros</a></li>
              <li class="nav-item"><a class="nav-link" href="Coffeeshop.html" style="color: black; font-size: 18px;">Coffee Shop</a></li>
            
            </ul>
          </div>
        </div>
    </nav>
    

    
         
    <!-- Footer Section -->
    <footer >
        <p>&copy; 2024 Rincón Temerario del Café. Todos los derechos reservados.</p>
        <p> Encuentranos en</p>
        <div class="social-icons">
            <a href="#"><img src="imagenes/instagram.png" alt="Instagram" class="mx-2" style="width: 25px;"></a>
            <a href="#"><img src="imagenes/facebook.png" alt="Facebook" class="mx-2" style="width: 25px;"></a>
            <a href="#"><img src="imagenes/twitteer.png" alt="Twitter" class="mx-2" style="width: 25px;"></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
