
{% extends "index.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<link href="{{ url_for('static', filename='styleRegis.css') }}" rel="stylesheet">
<div class="register-container">
        <h2>Registrarse</h2>
        <form action="/register" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" name="Nombre" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Apellido:</label>
                <input type="text" class="form-control" id="Apellido" placeholder="Ingrese su Apellido" name="Apellido" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="username" placeholder="Ingrese su usuario" name="username" required>
            </div>
            <div class="mb-3">
                <label for="Nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="Nombre" placeholder="Ingrese su Nombre" required>
            </div>
            <div class="mb-3">
                <label for="Apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="Apellido" placeholder="Ingrese su Apellido" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña" name="password" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirma tu contraseña" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
        
        <div class="login-link">
            <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión aquí</a></p>
        </div>
    </div>
{% endblock %}

